body {
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 0px 120px;
    background-color: #1f2937;
}

.topbar {
    display: flex;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
    font-size: 26px;
    font-weight: bold;
    color: white;
}

.content {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
}

.img {
    background-color: grey;
    display: flex;
    height: 200px;
    margin: 5px;
    width: 500px;
    justify-content: center;
    align-items: center;
    color: white;
}
.maintext {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.subtext {
    color: #e5e7eb;
    margin-bottom: 16px;
}

.info {
    width: 400px;
}

button.header {
    padding: 8px 26px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: 0px;
}

.links {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 16px;
}

a {
    text-decoration: none;
    color: linen;
}

.items.info {
    display: flex;
    max-width: 140px;
    flex-wrap: wrap;
    justify-content: center;
}

.information.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    margin: 25px 0px;
}

.items.img-placeholder {
    height: 140px;
    width: 140px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882f6;
    background-color: white;
    margin-bottom: 10px;
}

.information.items {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 75px;
}

.information {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 0px 400px;
}

.quote.text {
    margin-top: 100px;
    font-size: 36px;
    font-style: italic;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.quote.author {
    display: flex;
    margin-bottom: 100px;
    justify-content: end;
    font-weight: bold;
    font-size: 24px;
    padding: 0px;
    justify-content: center;
    align-items: end;
}

.calltoact {
    padding: 75px 125px;
}

.calltoact.info {
    display: flex;
    flex-direction: column;
    padding: 0px;
    justify-content: center;
    gap: 8px;
}
.calltoact.container {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}

.calltoact.text {
    padding: 0px;
    color: #f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.calltoact.subtext {
    padding: 0px;
    color: #e5e7eb;
    font-size: 16px;
    margin: 0px;
}

button.calltoact {
    padding: 8px 26px;
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: 3px;
    border-color: #e5e7eb;
    border: solid;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
    color: #f9faf8;
}